
.row-days{
  background-color: #0E5FBF;
  text-align:center;
  color: white;
}
.col-1-5-colored{
  flex: 0 0 14.28%;
  max-width: 14.28%;
  background-color: rgb(243, 243, 245);
  color: rgb(69, 69, 253);
  border-color: black;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-bottom: 10%;
  border: solid;
  border-width: 1px;
  display: flex;
  justify-content: space-around;
}
.col-1-5-uncolored{
  flex: 0 0 14.28%;
  max-width: 14.28%;
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-bottom: 10%;
  border: solid;
  border-width: 1px;
  display: flex;
  justify-content: space-around;
}
